/*body {*/
    /*margin: 0;*/
/*}*/
.el-select .el-input {
    width: 100px;
}
.el-table .info-row {
    background: #F7BA2A;
}
.el-table .cell, .el-table th>div {
    padding-top: 10px;
    padding-bottom: 10px;
}