body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select
{padding: 0;margin: 0;font-family: arial;}
input{background: none;outline: none;border: none;}
strong{list-style: none;font-weight: normal;}
li{list-style: none;}
img{border: none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
.clear{zoom: 1;}
.clear:after{content: "";display: block;clear: both;}

body{background: #fff url(../images/body_bg.png) repeat-x;}

#top{width: 960px;height: 30px;margin: 0 auto;}
.top_menu{float: left;}
.top_menu li{
	float: left;
	background: url(../images/top_ico.png) no-repeat right 14px;
	font-size: 13px;
	line-height: 30px;
	padding-right: 18px;
	padding-left: 15px;
	}
.top_menu a{ color: #c0c0c0;}
.top_menu a:hover{color: #fff;}
.top_menu .no_dot{background: none;padding-right: 0px;}

.top_bar{float: right;}
.top_bar li{
		float: left;
		color: #fff;
		font-weight: bold;
		font-size: 12px;
		line-height: 30px;
		
}
.top_bar .phone{background: url(../images/top_ico.png) no-repeat 6px -16px;padding: 0 38px;}
.top_bar .help{background: url(../images/top_ico.png) no-repeat 0 -46px;padding: 0 38px;}
.top_bar .help a{color: #fff;}
.top_bar .space{margin-right: 12px;}

#header{
	width: 960px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	background: url(../images/header_bg.png) no-repeat;
}
#shopping{
	width: 260px;height: 100px;
	background: url(../images/shopping_bg.png) no-repeat;
	position: relative;
}
#shopping p{
	color: #f7f7f7;
	font-size: 20px;
	font-family: arial;
	padding: 30px 0 0 84px;
}
#shopping a{
	display: block;
	width: 114px;
	height: 23px;
	background: url(../images/shopping_bg.png) no-repeat 0 -100px;
	position: absolute;
	top:63px;
	left: 104px;
	color: #ffc200;
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	line-height: 23px;
}
#shopping a:hover{color: #ffe388;}
#header h1{width: 238px;margin: 0 auto;position: absolute;top: 0;left: 50%;margin-left: -119px;} 
#header .search{top: 33px;right: 0;}
.search{width: 292px;height: 31px;background: url(../images/search.png) no-repeat;position: absolute;}

.search .text{width: 250px;height: 30px;font-size: 13px;line-height: 30px;color: #666;text-indent: 20px;border: none;}
.search .btn{width: 42px;height: 30px;position: absolute;right: 0;cursor: pointer;border: none;}

#nav{
	width: 960px;
	height: 38px;
	margin: 0 auto;
	padding-top: 8px;
}
#nav li{
	float: left;
	height: 28px;
	margin-right: 2px;
}
#nav a{
	float: left;
	height: 23px;
	color: #fff;
	font-size: 15px;
	line-height: 23px;
	text-decoration: none;
	font-family: arial;
	text-align: center;
}
#nav strong{
	float: left;
	height: 28px;	
}
#nav span{
	float: left;
	height: 28px;	
	padding: 0 16px;
}
#nav a:hover,#nav .active a{background: url(../images/nav_active_bg.png)repeat-x 0 -56px;}
#nav a:hover strong,#nav .active strong{background: url(../images/nav_active_bg.png)no-repeat;}
#nav a:hover span,#nav .active span{background: url(../images/nav_active_bg.png)no-repeat right -28px;}
/*内容区*/
#content{
	width: 1000px;
	margin: 24px auto 0;
	background:url(../images/content_bg.png) repeat-y -1000px 0;
}
#content_top{
	width: 1000px;
	background:url(../images/content_bg.png) no-repeat;
}
#content_bottom{
	width: 1000px;
	padding-top: 10px;
	background:url(../images/content_bg.png)no-repeat -2000px bottom;
}

#ad{
	width: 940px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	word-wrap:break-word; 
	word-break:break-all;/*超出自动换行*/
}
#ad ul{position: absolute;top: 0;left: 0;z-index: 1;}/*它的定位是层级关系的表现，黑色遮罩要盖住它*/
#ad li{position: absolute;top: 0;left: 0;}
#ad h2{width: 268px;text-align: center;font-size: 28px;position: absolute;left: 0;bottom: 8px;z-index: 3;color: yellow;}
#ad p{
	width: 630px;
	position: absolute;
	left: 268px;
	bottom: 7px;
	z-index: 3;
	color: #ccc;
	line-height: 16px;
	font-size: 13px;
	}
#ad .bg{
	width: 940px;
	height: 52px;
	background: #000;
	filter: alpha(opacity:80);/*ie的滤镜*/
	opacity: 0.8;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
/**/
#main{
	width: 942px;
	margin: 0 auto;
	padding-top: 30px;
}
#side{
	width: 210px;
	height: ;
	float: left;
}
#wrap{
	width: 706px;
	float: right;
}
.module_menu{}
.module_menu h2{
	height: 29px;
	margin-bottom: 1px;	
	background: url(../images/module_menu_bg.png) repeat-x 0 -58px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	line-height: 29px;
}
.module_menu h2 strong{
	display: block;
	height: 29px;
	background: url(../images/module_menu_bg.png) no-repeat;
}
.module_menu h2 span{
	display: block;
	height: 29px;
	background: url(../images/module_menu_bg.png) no-repeat right -29px;
}
.list{	background: url(../images/list_bg.gif) repeat-y;}
.list ul{background: url(../images/list_bg.gif) no-repeat -210px bottom;padding: 18px 8px;}
.list li{
	
}
.list a{
	display: block;
	height: 27px;
	line-height: 27px;
	border-bottom: 1px solid #fff;
	text-decoration: none;
	padding-left: 32px;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}
.list a:hover{
	color: #b20e00;
	border-bottom: 1px solid #b20e00;
}
.module_join{
	width: 210px;
	background: url(../images/list_bg.gif) repeat-y -630px;
	margin-top: 12px;
}
.module_join_t{
	background: url(../images/list_bg.gif) no-repeat -420px 0;
}
.module_join_b{
	background: url(../images/list_bg.gif) no-repeat -840px bottom;
}

.Join_form{
	width: 180px;
	margin: 0 auto;
}
.Join_form p{
	color: #666;
	font-size: 15px;
	line-height: 18px;
	padding: 12px 0;
}
.Join_form form{
	
}
.Join_form .text{
	width: 175px;
	height: 25px;
	line-height: 25px;
	background: #fff;
	text-indent: 3px;
	border: 1px solid #fff;
	border-top: 1px solid #9c9c9c;
	border-left: 1px solid #c0c0c0;
}
.Join_form .btn{
	display: block;
	width: 88px;
	height: 25px;
	margin: 8px auto;
	background: url(../images/shopping_bg.png) no-repeat 0 -145px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}
.join_list{
	width: 192px;
	margin: 0 auto;
	background: url(../images/shopping_bg.png) no-repeat 10px -170px;
}
.join_list li{	
	border-top: 1px solid #fff;
	padding-left: 62px;
	font-size: 13px;
}
.space1{height: 45px;line-height: 45px;}
.space2{height: 38px;line-height: 18px;padding-top: 5px;}
.space3{height: 45px;line-height: 18px;padding-top: 5px;}
#payment{margin: 33px 0 0 18px;}

.sort{
	height: 20px;
}
.sort dl{
	float: left;
}
.sort dt{
	float: left;
	color: #747474;
	font-weight: bold;
	font-size: 12px;
	padding-right: 2px;
}
.sort dd{
	float: left;
	width: 107px;
	position: relative;
	margin-right: 12px;
}
.sort h2{
	height: 19px;
	height: 17px;
	border: 1px solid #ccc;
	font-size: 12px;
	color: #747474;
	font-weight: normal;
	text-indent: 5px;
}
.sort a{
	position: absolute;
	top: 0;
	right: 0;
	width: 19px;
	height: 19px;
	background: url(../images/shopping_bg.png) no-repeat 0 -376px;
	z-index: 1;
}
.sort a:hover{
	background: url(../images/shopping_bg.png) no-repeat -19px -376px;
}
.sort ul{
	width: 107px;
	border: 1px solid #ccc;
	position: absolute;
	top: 18px;
	left: 0;
	z-index: 1;
	display: none;
}
.sort li{
	font-size: 12px;
	line-height: 20px;
	text-indent: 5px;
	cursor: pointer;
}
.sort li.active{background: #000;color: #fff;}
.sort p{
	float: right;
	color: #747474;
	font-size: 12px;
}
.sort p strong{	
	padding-right: 4px;
}
.sort p span{
	color: #999;
	padding: 0 5px;
}
.sort p .color_tyle{
	color: red;
}

.pic_list{
	width: 706px;
	overflow: hidden;
}
.pic_list h2,#scroll_list h2{
	line-height: 62px;
	overflow: hidden;
	font-size: 18px;
	color: #666;
	}
.pic_list ul{width: 736px;}
.pic_list li{width: 182px;float: left;height: 200px;}
.pic_list a{
	display: block;
	width: 154px;
	height: 114px;
	border: 1px solid #c6c6c6;
	margin-bottom: 7px;
}
.pic_list a:hover{border: 1px solid blue;}
.pic_list h3{font-size: 15px;color: #666;line-height: 16px;}
.pic_list p{font-size: 13px;color: #333;line-height: 16px;}
.pic_list span{color: red;}
.page{
	text-align: center;
	border-bottom: 1px solid #cdcdc8;
	padding-bottom: 5px;
}
.page a{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 6px;
	color: red;
	font-size: 12px;
	text-decoration: none;
	
}
.page span{font-family: "宋体";padding-left: 3px;}
.page a:hover,.page .active{background: red;color: #fff;}

#scroll_list{}
.scroll_wrap{
	height: 196px;
	background: url(../images/scroll_bg.gif) repeat-x 0 -478px;
}
.scroll_wrap_l{
	height: 196px;
	background: url(../images/scroll_bg.gif) no-repeat 0 -86px;
}
.scroll_wrap_r{
	height: 196px;
	background: url(../images/scroll_bg.gif) no-repeat right -282px;
	position: relative;
}
.prev,.next{
	width: 35px;
	height: 43px;
	position: absolute;
	top: 70px;	
}
.prev{left: 0;background: url(../images/scroll_bg.gif) no-repeat ;}
.next{right: 0;background: url(../images/scroll_bg.gif) no-repeat 0 -43px;}
.list_wrap{
	width: 615px;
	margin: 0 auto;
	padding-top: 32px;
}
.list_wrap ul{
	height: 150px;
}
.list_wrap li{
	width: 205px;
	float: left;
}
.list_wrap a,.list_wrap p{width: 145px;margin: 0 auto;}
.list_wrap a{
	display: block;
	height: 100px;
}
.list_wrap p{
	color: #600;
	text-align: center;
	line-height: 14px;	
	padding-top: 10px;
	font-size: 12px;
}











